* {
	box-sizing: border-box;
	margin: 0;
	padding: 0%;
}

body {
	font-family:monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: url(img/bg.jpg);
}

.container {
    background: radial-gradient(circle, rgba(174,216,247,1) 17%, rgba(174,232,238,0.227328431372549) 100%);
	border-radius:  20px  60px ;
	box-shadow: 0 25px 30px rgba(0, 0, 0, 0.7);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
	padding: 25px 40px;
}

.header {
	border-bottom: 1px solid #b4ddff;
	background-color:transparent;
	padding: 15px 30px;
}

.header h2 {
	background-color:transparent;
	font-family: monospace;
	font-size: 25px;
	color:rgb(174,216,247);
	padding-bottom: 3px;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
	border-color:green;
}

.form-control label {
	display: inline-block;
	margin-bottom: 2px;
	margin-left: 15px;
	font-size: 14px;
	color:rgb(18, 54, 80);
}

.form-control input  {
	background-color:transparent;
	border: 2px solid #deebf6;
	border-radius: 20px 0px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
	color:rgb(0, 0, 0);
}
.form-control input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-control input[type=number] {
	-moz-appearance: textfield;
  }

  input[type="radio"]{
    display: none;
}
#gender{
	border: 2px solid #deebf6;
	border-radius: 20px 0px;
}

label span{
    display:flex;
    align-items: center;
    padding: 5px 10px 5px;
    border-radius: px;
    transition: .10s ease;
}

label span:hover,
input[type="radio"]:checked + span{
    background:radial-gradient(circle, rgb(121, 180, 223) 17%, rgba(174,232,238,0.227328431372549) 100%);
}
label span:before{
    content: "";
    background-color:transparent;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    margin-right: 10px;
    transition: .15s ease;
    box-shadow:  inset 0 0 0 1px #00005c;
}

input[type="radio"]:checked + span:before{
    box-shadow: inset 0 0 0 10px #00005c;
}
.form-control input:focus {
	outline: 0;
	border-color: rgb(41, 132, 192);
}

.form-control.success input{
	border-color: #198d49;
	border-radius: 0 20px;
}
.form-control.error input{
	border-color: #b33628;
}

.form-control.success {
	border-color: #198d49;
	border-radius: 0 20px;
}

.form-control.error  {
	border-color: #b33628;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 32px;
	right: 10px;
}
.form-control icon {
	position: absolute;
	margin-top: -30px;
	right: 10px;
	color:#1a5c92;
	cursor: pointer;

}

.form-control.success i.fa-check-circle{
	color: #198d49;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
	color: #b33628;
	visibility: visible;
}

.form-control.success #eye{
	color: #198d49;
	visibility: visible;
}

.form-control.error #eye{
	color: #b33628;
	visibility: visible;
}

.form-control.success #gender{
	border-color: #198d49;
	border-radius: 0 20px;
}
.form-control.error #gender {
	border-color: #b33628;
}

.form-control small {
	color: #b33628;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
	font-size: 14px;
}

.form-control.error small {
	visibility: visible;
}

button{
	background-color:transparent;
	border: 2px solid #b4ddff;
	color: #b4ddff;
	display: block;
	font-family: inherit;
	font-size: 20px;
	padding: 8px;
	margin-top: 20px;
	width: 100%;
	border-radius: 20px 0;
}
button:hover{
    border-radius: 0 20px;
    color: #198d49;
    border-color: #198d49;
    box-shadow:0 15px 20px rgba(174,216,247,1 0.9);
}

